@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container mt-4">
    <h2 class="mb-4 text-primary fw-bold">➕ Thêm thương hiệu</h2>

    <form asp-area="Admin" asp-controller="ThuongHieu" asp-action="them" method="post" class="card p-4 shadow-sm" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label fw-semibold">Tên thương hiệu</label>
            <input name="Tenth" class="form-control" maxlength="50" required />
        </div>

        <div class="mb-3">
            <label class="form-label fw-semibold">Mô tả</label>
            <textarea name="Mota" class="form-control" rows="3" maxlength="255"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label fw-semibold">Logo</label>
            <input type="file" name="LogoFile" class="form-control" accept="image/*" />
        </div>


        <div class="row mt-4">
            <div class="col-6">
                <a href="@Url.Content("~/Admin/ThuongHieu")"
                   class="btn btn-outline-secondary w-100">
                    Quay lại
                </a>
            </div>

            <div class="col-6">
                <button type="submit" class="btn btn-primary w-100">
                    Thêm mới
                </button>
            </div>
        </div>

    </form>
</div>
